<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Goals</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>


  <header>
    <h1 class="page-head">GROUP GOALS</h1>
  </header>
  
  <main>    
    <div class="saved">
      <% for(let i=0; i<notes.length; i++){ %>
        <div class="n-note" data-notenumber="<%=i%>">
          <span class="n-heading">
            <%=notes[i].heading%>
          </span>
          <hr style="height: 1px; border: none; background-color: white;">
          <span class="n-text"><%=notes[i].text%></span>
          <span class="n-author"><%=notes[i].author%></span>
          <aside class="edit-3dot-icon">
            <div class="dots3"></div>
            <div class="dots3"></div>
            <div class="dots3"></div>
            <div class="hidden-menu hide">
              <div class="hidden-menu-elements">Edit</div>
              <div class="hidden-menu-elements">Delete</div>
            </div>
          </aside>
        </div>
      <%}%>
    </div>
  </main>

  <section class="free">
    <div class="add">
      <span>
        &plus;
      </span>
    </div>
  </section>
  <article class="modal hide">
    <div>
      <input size="1" name="heading" class="edit-heading" value="">
      <hr style="height: 1px; border: none; background-color: white;">
      <textarea name="text" class="edit-text"></textarea>
      <input size="1" name="author" class="edit-author" value="">
      <div class="edit-buttons-parent">
        <div class="edit-button" id="save">Save</div>
        <div class="edit-button" id="cancel">Cancel</div>
      </div>
    </div>
  </article>
  <footer>

  </footer>
  <script src="/script.js"></script>
</body>
</html>